Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*